{% extends 'admin_main_template.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11"><h3>{{ title }}</h3></div>
    </div>
{% for item in order_content %}
    <div class="row">
        <div class="col-md-1">#{{ item.id_goods }}</div>
        <div class="col-md-9"><a href="{{ base_url }}products/product/{{ item.id_goods }}"><span>{{ item.title }}</span></a></div>
        <div class="col-md-1">{{ item.cnt }}</div>
        <div class="col-md-1">{{ item.price }}</div>
    </div>
{% endfor %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-11" align="right">Итого к оплате по заказу:</div>
        <div class="col-md-1">{{ total_price }}</div>
    </div>
{% endblock %}